@font-face {
  font-family: G-Montserrat-n4;
  src: url('../data/fonts.gstatic.com_s_montserrat_v12_JTUSjIg1_i6t8kCHKm45xW4.ttf');
}
@font-face {
  font-family: G-Montserrat-n7;
  src: url('../data/fonts.gstatic.com_s_montserrat_v12_JTURjIg1_i6t8kCHKm45_dJE7g4.ttf');
}
@font-face {
  font-family: G-Montserrat-n6;
  src: url('../data/fonts.gstatic.com_s_montserrat_v12_JTURjIg1_i6t8kCHKm45_bZF7g4.ttf');
}
@font-face {
  font-family: G-Montserrat-i6;
  src: url('../data/fonts.gstatic.com_s_montserrat_v12_JTUPjIg1_i6t8kCHKm459WxZFgrD-w.ttf');
}